body {
  padding: 0;
  width: 100%;
  margin: 0;
  background-color: black;
}
header {
  width: 100%;
}
h1 {
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
}


nav {
  background-color: black;
  height: 8%;
  width: 96%;
  color: white;
  margin: 0;
  padding: 2%;
}
main {
  margin: 0;
  border-color: black;
  border-radius: 2.5%
  width: 90%;
  padding-right: 3%;
  background-color: black;
}


#navLabel {
  position: left;
  height: 85%;
  width: 35%;
  vertical-align: middle;



}

#sonnet {
  background-color: black;
  color: white;
  float: left;
  width: 58%;

  padding-top: 3%;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 3%;
}
#details {
  background-color: darkgrey;
  color: white;
  margin-top: 7%;
  margin-right: 0;
  padding-left: 2%;
  padding-top: 3.5%;
  padding-right: 2%;
  padding-bottom: 2.5%;
  float: right;
  width: 30%;
  word-wrap: normal;
}
.vertSpace {
  clear: both;
  padding-top: 2%;
  padding-bottom: 2%;
}
.data {
  float: right;
  background-color: black;
  color: limegreen;
  padding: .5%;
  margin-top: 0;
}
h3 {
  margin: 0;
}
h2 {
  margin: 0;
}
